/* SPDX-License-Identifier: MIT */

h2, table, .table-responsive {
  clear: both;
}

fieldset {
  float: left;
}

.nav {
  background-color: white;
  position: sticky;
  top: 0;
  /* See https://getbootstrap.jp/docs/5.3/layout/z-index/ */ 
  z-index: 1025;
}

.list-deck-saved .accordion-header {
  position: sticky;
  top: 2.5rem;
  /* See https://getbootstrap.jp/docs/5.3/layout/z-index/ */ 
  z-index: 1020;
}

.container-button label,
.container-button button[type="button"] {
  margin-right: .25rem;
}

ul.list-card {
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.list-card li {
  float: left;
  position: relative;
}

ul.list-card-medium {
  min-height: 120px;
}

ul.list-card-medium li {
  margin-right: .5rem;
  margin-bottom: .5rem;
}

ul.list-card-medium img {
  width: 80px;
  height: 112px;
}

ul.list-card-small {
  min-height: 60px;
}

ul.list-card-small li {
  margin-right: .25rem;
  margin-bottom: .25rem;
}

ul.list-card-small img {
  width: 40px;
  height: 56px;
}

/* タブリンクの横幅を狭くして画面幅に収めることを試みる */
.nav-tabs .nav-link {
  padding: var(--bs-nav-link-padding-y) calc(.5 * var(--bs-nav-link-padding-x))
}

/* 画面下端に空間を作る */
.tab-pane {
  margin-bottom: 6rem;
}

/* アラートへのアイコン付け */
.alert-warning::before {
  display: inline-block;
  vertical-align: -.125em;
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" color="%23664d03" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16"><path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/><path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/></svg>');
  stroke: currentColor;
  width: 1em;
  height: 1em;
  margin-right: .25rem;
}

.alert-info::before {
  display: inline-block;
  vertical-align: -.125em;
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" color="%23055160" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/></svg>');
  width: 1em;
  height: 1em;
  margin-right: .25rem;
}

.alert-success::before {
  display: inline-block;
  vertical-align: -.125em;
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" color="%230a3622" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/></svg>');
  width: 1em;
  height: 1em;
  margin-right: .25rem;
}
